body {
    font-family: Arial, sans-serif;
}
.container {
    width: 920px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    float: right;
}
.wallet-info {
    float: left;
    display: flex;
    align-items: center;
}

.wallet-info label {
    font-size: 15px;
    margin-right: 10px;
}
.small-address-box {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-right: 10px;
    text-align: center;
    width: 120px;
    font-size: 14px;
}
.small-button {
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #000;
    display: inline-block;
    font-size: 14px;
}
.button {
    padding: 5px 10px;
    margin-left: 0px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #000;
    display: inline-block;
}
.actions, .swap-section, .order-info, .transaction-status {
    margin-top: 20px;
}
.swap-section {
    font-weight: bold;
}
.input-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.input-group label {
    width: 60px;
}
.amount-currency-container {
    display: flex;
    align-items: center;
    margin-left:10px;
    margin-right:10px;
    border: 1px solid #000;
    border-radius: 4px;
    overflow: hidden;
}
.amount-currency-container input {
    padding: 5px;
    border: none;
    width: 80px;
    text-align: right;
}
.currency-dropdown {
    padding: 5px;
    border: none;
    text-align: center;
    background-color: #f9f9f9;
    cursor: pointer;
}
.readonly-text {
    margin-right: 17px;
    margin-left: 63px;
    font-size: 14px;
    color: #333;
    text-align: center;
    width: 100px;
}
.quote, .balance-display, .order-hash {
    font-size: 12px;
    color: #333;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
}
.empty-field {
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    border: 1px solid #000;
    border-radius: 4px;
    text-align: center;
    color: #333;
    background-color: #f9f9f9;
    font-size: 14px;
}
.quote-box, .hash-box {
    margin-top: 0px;
    padding: 10px;
    width: 250px;
    border: 1px solid #999;
    border-radius: 4px;
    text-align: center;
    color: #333;
    background-color: #f9f9f9;
    font-size: 12px;
    font-weight: normal;
}
.arrow {
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
    vertical-align: middle;
}
.swap {
    width: 400px;
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
.order-hash-input {
    width: 160px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 4px;
}